@use "./helpers/statics";
@use "./helpers/buttons";

.heading {
  @apply text-size-3 capitalize font-semibold;
}

.navbar {
  @apply pad bg-bglight dark:bg-darker flex justify-between items-center select-none sticky top-0 z-10;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.statDiv {
  @apply bg-bglight dark:bg-middark w-[200px] h-[120px] px-4 py-2 rounded-[10px] flex flex-col relative;
  p {
    @apply text-size-2 font-bold self-center;
  }
  i {
    @apply absolute bottom-[8px] right-[20px] text-[30px];
  }
}
.empTable {
  @apply w-full mt-4 bg-bglight dark:bg-middark text-center rounded-[20px] overflow-hidden;
  td,
  th {
    @apply py-2;
  }
  .tableRow {
    @apply hover:bg-light dark:hover:bg-lightdark transition-colors cursor-pointer;
  }
}

.info {
  @apply flex flex-col;
  .first-p {
    @apply text-size-6 capitalize;
  }
  .second-p {
    @apply capitalize text-size-4 -mt-1 ms-1;
  }
}

.input {
  @apply p-2 bg-bglight dark:bg-darker rounded-[6px];
  &::placeholder {
    @apply opacity-70 text-[14px] text-lightdark dark:text-bglight/75;
  }
}

.before-rabon::before {
  content: "";
  @apply absolute -left-4 top-0 w-[3px] h-full bg-success;
}
