@use "./helpers/statics";
@use "./helpers/buttons";
@use "./helpers/components";

.heading {
  @apply text-size-3 capitalize font-semibold;
}

.navbar {
  @apply py-4 px-10 bg-light dark:bg-darker flex justify-between items-center drop-shadow select-none sticky top-0 z-10;
}

.statDiv {
  @apply bg-light dark:bg-middark w-[200px] h-[120px] px-4 py-2 rounded-[10px] flex flex-col relative;
  p {
    @apply text-size-2 font-bold self-center;
  }
  i {
    @apply absolute bottom-[8px] right-[20px] text-[30px];
  }
}

.input {
  @apply p-2 bg-bglight dark:bg-darker rounded-[6px] text-size-6;
  &::placeholder {
    @apply opacity-70 text-[14px] text-lightdark dark:text-bglight/75 capitalize text-size-6;
  }
}

.before-rabon::before {
  content: "";
  @apply absolute -left-4 top-0 w-[3px] h-full bg-success;
}

.form {
  @apply w-fit p-8 flex flex-col gap-4 items-center drop-shadow rounded-lg;
}
